@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    margin:0;
    font-family: 'Roboto'
}

.lists {
    margin-top: -70px;
}

footer {
    text-align: center;
    padding: 30px 0;
    background: #141414;
    font-size: 11px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;

}